#my-contact {
    display: flex;
    background-color: rgba(248,239,184, 1);
}

#my-contact--left {
    padding: 5rem;
}

#my-contact--right--container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#my-contact--right--container--header {
    color: #6D213C;
    font-size: 4rem;
    font-weight:bolder;
    text-transform: uppercase;
    text-align: left;
}

#my-contact--right--container--links {
    color: #6D213C;
    font-size: 2rem;
    font-weight:bolder;
    text-align: left;
}

#my-contact--right {
    display: flex;
    padding: 2rem;
    align-self: center;
}

#my-contact--jande-image { 
    display: flex;
    width: 100%;
}

.my-contact--links {
    margin-left: 1rem;
}