#navi-bar{
    background-color: rgba(31, 31, 31, 0.1);
    padding: 1% 2%;
    width: 100%;
}

#navi-bar--scroll{
    background-color: rgba(255, 243, 71, 1);
    padding: 1% 2%;
}

#nav-img-container {
    display: flex; 
    align-items: center; 
}


#nav-words, #nav-resume, #nav-contacts, #nav-races {
    color: #6D213C;
    font-weight: bolder;
    text-transform: uppercase;
    font-size:x-large;
    
}

.nav-item {
    margin: 0 10px;
    color: #6D213C;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: x-large;
}

#nav-img {
    width: 25vw;
}

@media screen and (max-width: 992px) {
    #nav-img {
        width: 150px; 
    }
}

#nav-words:hover, #nav-resume:hover, #nav-contacts:hover{
    color: rgba(248,239,184, 1);
    display: block;
}

#nav-words:active, #nav-resume:active, #nav-contacts:active{
    background-color: rgba(248,239,184, 1) !important;
}