#navi-bar{
    padding: 1% 5%;
    background-color: rgba(31, 31, 31, 0.1);

}

#navi-bar--scroll{
    padding: 1% 5%;
    background-color: rgba(255, 243, 71, 1);

}

#nav-words, #nav-resume, #nav-contacts, #nav-races {
    color: #6D213C;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: larger;
    
}

#nav-words:hover, #nav-resume:hover, #nav-contacts:hover{
    color: #E90389;
}

#nav-words:active, #nav-resume:active, #nav-contacts:active{
    color: #E90389;
}