#my-skills {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 75vw;
    margin: 75px auto 25px;
    padding-top: 25px;
}

#my-skills--header-text {
    font-weight:bolder;
    font-family: Poppins;
    font-size:60px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-self: center;
    height: 75px;
    margin-bottom: 25px    
}

.my-skills--row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.my-skills--col {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.pick-shape {
    width: 150px;
}

.skill-icon {
    position: absolute;
    position: absolute;
    z-index: 1;
}
